/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  width: 98vw;
  padding: 2rem;
  margin: 0 auto;
}

/* HEADER */
.header{
  background:transparent;
 position:fixed;
 width:100%;
 padding:5rem;
  transform:translateY(1vh);
  z-index:999;
}
.header__wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
  max-width:100%;
  transition:.5s ease;
}
.header__nav ul {
  display: flex;
  gap: 5rem;
}
.header__nav ul li a {
  color: var(--dark);
  padding:1rem 2rem;
}
.header__nav ul li:last-child a{
  border:1px solid var(--dark);
}
.header__nav ul li:hover{
  scale:1.1;
  transition:.5s ease;
}
.header__nav ul li{
  transition:.5s ease;
}
.toggle__menu span{
  width:3rem;
  height:.3rem;
  background-color:var(--dark);
  display:block;
  transition:.5s ease;
}
.toggle__menu span:first-child{
  margin-bottom:.5rem;
}
.toggle__menu.open span:first-child{
  transform:translateY(2px) rotate(225deg);
  transition:.5s ease;
}
.toggle__menu.open span:last-child{
  transform:translateY(-6px) rotate(-225deg);
  transition:.5s ease;
}
.header__nav.open{
  background:var(--light);
  position:absolute;
  right:5rem;
  top:7rem;
  padding:3rem;
  text-align:center;
  max-width:50rem;
  max-height:50rem;
  transition:.5s ease;
}
.toggle__menu{
  display:none;
}
.header__wrapper.open{
  max-width:80rem;
  margin:0 auto;
  background:var(--light);
  border-radius:2rem;
  padding:2rem;
  transition:.5s ease;
}
@media screen and (max-width:486px){
  .header__nav{
    max-width:0rem;
    max-height:0rem;
    overflow:hidden;
    position:absolute;
  right:5rem;
  top:7rem;
    transition:.5s ease;
  }
  .header__nav ul{
    display:flex;
    flex-direction:column;
  }
  .toggle__menu{
    display:unset;
  }
}
/* BANNER */
.banner{
  background-image:url("./img/banner.png");
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  /* width:98vw; */
  margin:0 auto;
  height:100vh;
  display:flex;
  align-items:center;
  text-align:center;
  /* transform:translateY(1.5vh); */
  border:10px solid white;
}
.banner h1{
  /* font-size:clamp(4rem,20vw,15rem); */
  font-size:15rem;
}
@media screen and (max-width:486px){
  .banner h1{
    font-size:4rem;
  }
}

/* ARTICLES */
.articles{
  background:var(--pgreen);
  transform:translateY(2.5vh);
  height:97vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.articles__wrapper{
display:flex;
}

/* REUSABLE PATTERNS */
 h3 {
  font-size: clamp(2rem, 20vw, 4rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3::after {
  content: "";
  width: 8rem;
  height: 3px;
  background-color: var(--dark);
  display: block;
  transform: translateY(2rem);
} 
:root {
  --lgreen: #d9ded8;
  --pgreen: #e1e6e0;
  --light: #ffffff;
  --dark: #2b2b2b;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height:5000px;
} */
